@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fefae0;
  height: 100%;
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

.ant-collapse-content-box {
  background-color: #fefae0;
}

.ant-collapse-header-text {
  color: #bc6c25;
}

.ant-timeline-item-head {
  border-color: #283618 !important;
}
th.ant-descriptions-item {
  padding-bottom: 0 !important;
}